@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Luckiest Guy", cursive;
  background-color: black;
  color: black;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
}
/* .container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  display: flex;
  height: 100svh;
  width: 100%;
} */

.container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  height: 100svh;
  width: 100%;
  flex-direction: column;
  background-color: #f5f5f5;
}

#order-title {
  font-size: 2rem;
  border-bottom: 1px solid black;
  margin-bottom: 2.5rem;
}

/* @media (min-width: 320px) {
  .container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
} */
.cart-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.cart {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-summary {
  width: 30%;
}

.cart-summary > div {
  display: flex;
  justify-content: space-between;
}
.cart-order {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid white;
  padding: 0.5rem;
}

.cart-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkout-btn {
  width: 100%;
}

.cart-meta {
  display: flex;
  flex-direction: row;
}

.item-info {
  display: flex;
  flex-direction: column;
}

.mode {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  border-bottom: 1px solid black;
  padding-bottom: 0.5em;
}
.mode > button {
  width: 50%;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.delivery-btn {
  background-color: white;
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0.5em;
  font-size: 1.25rem;
}

#delivery-title {
  font-size: 1.5rem;
}

.checkout-btn {
  width: auto;
  border: none;
  background-color: #d07026;
  color: #ffcf4e;
  font-size: 1rem;
  padding: 0.5em;
  border-radius: 8px;
  cursor: pointer;
  min-width: 5rem;
  font-weight: bold;
}

.promo-div {
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.promo-div > h4 {
  font-size: 1.5rem;
}
.promo-div > div {
  display: flex;
  flex-direction: row;
}

#promo-input {
  border: 1px solid black;
  padding: 0.5rem;
  flex: 1;
}

#promo-btn {
  background-color: #d07026;
  color: #ffcf4e;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
}

.delivery-choice {
  display: none;
}

.deliver-label {
  background-color: white;
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0.5em;
  font-size: 1.25rem;
  width: 100%;
  text-align: center;
}

#pick:checked + label,
#deliver:checked + label {
  border: #d07026 2px solid;
  font-weight: bold; /* Example: Make the text bold */
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 60%;
  background-color: white;
  /* height: 60svh; */
  height: 320px;
  max-width: 480px;
  border-radius: 1rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

#modal-deliver {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: white;
  /* height: 60svh; */
  height: 320px;
  max-width: 480px;
  border-radius: 1rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

#modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#overlay.active {
  display: block;
}

#modal-heading {
  min-height: max-content;
  width: 100%;
  background-color: #d07026;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}

#modal-deliver-heading {
  min-height: max-content;
  width: 100%;
  background-color: #d07026;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}

#modal-heading > button {
  background-color: transparent;
  border: none;
  color: #ffcf4e;
  font-size: 1.5rem;
  cursor: pointer;
}

#modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.3rem;
  gap: 1.5rem;
}

#modal-deliver-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.3rem;
  gap: 1.5rem;
}
#modal-heading > h4 {
  font-size: 1.25rem;
  color: #ffcf4e;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.confirm-btn {
  background-color: white;
  border: 1px solid black;
  padding: 1em 2em;
  cursor: pointer;
  border-radius: 0.5em;
  font-weight: 600;
}

.btn-container {
  display: flex;
  gap: 1rem;
}

.cart-empty {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart-empty > i {
  font-size: 10rem;
  height: 240px;
  line-height: 2;
}

.cart-empty > h4 {
  font-size: 3rem;
  text-align: center;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}
.form-group label {
  position: absolute;
  left: 12px;
  top: 12px;
  font-size: 14px;
  color: #777;
  transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}
.form-group input:focus {
  border-color: #007bff;
  outline: none;
}
.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  top: -6px;
  font-size: 12px;
  color: #007bff;
  background-color: #ffffff;
  padding: 0 4px;
  border-radius: 4px;
  left: 8px;
}

#checkout-btn-cont {
  display: flex;
  flex: 1;
  width: 100%;
}

@media screen and (max-width: 1025px) {
  .cart-summary {
    font-size: 0.8rem;
  }
  .promo-div > div {
    display: 2px;
  }
  .mode > i {
    font-size: 1rem;
  }
}

@media screen and (max-width: 988px) {
  .cart-summary {
    font-size: 0.5rem;
  }
  .promo-div > div {
    display: 1px;
  }
  .mode > i {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 739px) {
  .cart-summary {
    font-size: 0.4rem;
  }
  .promo-div > div {
    display: 0.7px;
  }
  cart-promotion .mode > i {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 1102px) {
  .cart-empty > h4 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 855px) {
  .cart-empty > h4 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 493px) {
  .cart-empty > h4 {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 836px) {
  .cart-summary > h4 {
    font-size: 0.7rem;
  }
  .promo-div > h4 {
    font-size: 0.7rem;
  }
  .container > h4 {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    height: 100vh;
    width: 100%;
  }
}

.footer {
  background: #1e1e1e;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: white;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.footer .row a:hover {
  color: rgb(228, 112, 17);
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
  color: rgb(228, 112, 17);
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    height: 100svh;
    width: 100%;
  }
}
