* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Luckiest Guy", cursive;
}

.hidden {
  transform: translateY(100%);
  transition: ease-out 1s;
  filter: blur(4px);
}

.show {
  transform: translateY(0%);
  opacity: 1;
  filter: blur(0px);
}

my-review-box:nth-child(1) {
  transition-delay: 100ms;
}
my-review-box:nth-child(2) {
  transition-delay: 200ms;
}

my-review-box:nth-child(3) {
  transition-delay: 300ms;
}

section:nth-child(even) {
  background-color: #151414;
  height: 100svh;
  color: white;
}

section:nth-child(odd) {
  background-color: #1e1e1e;
  height: 100svh;
  color: white;
}

section {
  padding-left: 32px;
  padding-right: 32px;
}
#sec1 {
  background-image: url("../public/images/bg.webp");
  height: 100svh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
}

#navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  z-index: 999;
}

.order-btn {
  background-color: transparent;
  color: white;
  border: #d07026 solid 4px;
  border-radius: 8px;
  font-size: 1.5rem;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: "Luckiest Guy", cursive;
  cursor: pointer;
}

#title {
  width: 400px;
}

#main1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#title-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 1em;
  justify-content: center;
}

#sub-main-1,
#sub-main-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#sub-main-1 {
  gap: 2.5rem;
}

#sub-main-2 {
  position: relative;
}
#featured-burger {
  width: 400px;
  max-height: 90svh;
}

.burgerAnimation {
  animation: featureAnimBurger 1.5s ease 0s 1 normal forwards;
}

#bio {
  font-size: 1.5rem;
}

#burger-group {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.burger-selector {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  transition: all 0.3s;
}
.burger-selector img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 100%;
  border: white solid 1px;
  padding: 0.2em;
}

.burger-selector:hover {
  transform: scale(1.2);
}

#burger-price {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.1);
  bottom: 40px;
  right: 80px;
  flex-direction: column;
}
#burger-price p {
  font-size: 2.5rem;
  color: white;
}
#burger-price #burger-name {
  font-size: 1.5rem;
}

@keyframes featureAnimBurger {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

/* Section 2 */

#section2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-1,
.main-2 {
  height: 100%;
}

.main-1 {
  width: 20%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
}
.main-1 div img {
  max-height: 100%;
  width: 100%;
}

.main-1 div {
  height: 100svh;
  aspect-ratio: 1/1;
  padding: 1.5em;
  position: relative;
}

.main-1 div::before {
  content: "";
  position: absolute;
  border: dashed 8px #ffcf4e;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  animation: rotate 12s cubic-bezier(0.72, 0.14, 0.22, 0.68) infinite;
}

.main-2 h1 {
  font-size: 4.5rem;
  color: #ffcf4e;
  text-align: center;
}

.main-2 p {
  font-size: 1rem;
  text-align: center;
}

.main-2 {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  padding-left: 7em;
  padding-right: 7em;
  z-index: 1;
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

#section3 {
  display: flex;
  flex-direction: row;
}

#section3 img {
  max-height: 90svh;
}

#section3 #sec-3-main-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#section3 #sec-3-main-1,
#section3 #sec-3-main-3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
#section3 #sec-3-main-1 h4 {
  font-size: 10rem;
  color: #d07026;
  line-height: 0.8;
}

#section3 #sec-3-main-3 h4 {
  color: #d07026;
  font-size: 3.5rem;
}

#section3 #sec-3-main-3 p {
  font-size: 2.5rem;
  background-color: #d07026;
  padding: 0.25em;
  border-radius: 0.25em;
}

#section4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#section4 > h4 {
  font-size: 6.5rem;
}
#sec-4-main-4 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#sec-4-main-4 .review-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

my-review-box {
  flex: 1;
}

#section5 {
  position: relative;
  overflow: hidden;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none; /* -- Prevent image highlighting -- */
  align-items: center;
}

#image-track > h4 {
  text-align: center;
  font-size: 5rem;
  /* padding-top: 1em; */
}
#image-track > .image {
  width: 44vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}
@media (min-width: 1024px) {
  #featured-burger {
    width: 548px;
    height: 580px;
    object-fit: fill;
  }

  .burger-selector img {
    width: 124px;
    height: 124px;
  }

  #title {
    width: 340px;
  }

  #burger-price {
    width: 192px;
    height: 192px;
    bottom: 80px;
    right: 80px;
  }

  .main-2 h1 {
    font-size: 3.5rem;
    color: #ffcf4e;
    text-align: center;
  }

  #section3 img {
    max-height: 70svh;
  }

  #section3 #sec-3-main-1 h4 {
    font-size: 7rem;
  }

  #section3 #sec-3-main-3 p {
    font-size: 1.5rem;
  }

  #section3 #sec-3-main-3 h4 {
    font-size: 3rem;
  }
}

@media (min-width: 1440px) {
  #title {
    width: 480px;
  }

  #featured-burger {
    width: 800px;
    height: 840px;
    object-fit: fill;
  }

  .burger-selector img {
    width: 140px;
    height: 140px;
  }
  #burger-price {
    width: 250px;
    height: 250px;
    bottom: 40px;
    right: 80px;
  }

  #section3 img {
    max-height: 90svh;
  }

  #section3 #sec-3-main-1 h4 {
    font-size: 10rem;
  }

  #section3 #sec-3-main-3 h4 {
    font-size: 3.5rem;
  }

  #section3 #sec-3-main-3 p {
    font-size: 2.5rem;
  }
}
